{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}


{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{ asset('build/images/placeholder.jpeg') }}"alt="{{ program.title }} poster">

		<div class="media-body">

			<h1 class="mt-0">{{ program.name }}</h1>

			<p>{{ episode.title }}</p>
	</div>
</div>
<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>{% endblock %}
