{% extends 'base.html.twig' %}

{% block title %}Acteurs #{{ actor.name }}
{% endblock %}

{% block body %}
	<h2>Series pour l'acteur :
		{{ actor.name }}
	</h2>
	{% for program in actor.programs %}
		<div>
			<img src="{{program.poster}}" alt="{{ program.title }} poster">
			<div>
				<h1>{{ program.id }}
					/
					{{ program.title }}</h1>
				<p>{{ program.synopsis }}</p>
				<p>Catégorie :
					{{ program.category.name }}</p>
				<a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
			</div>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
	<a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>
{% endblock %}
